<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">    
    <link href="https://fonts.googleapis.com/css?family=Galada|Oleo+Script+Swash+Caps" rel="stylesheet">
</head>

<body class="back">
    <h1 class="title">
        <%= movies.title %>
    </h1>
    <div Class="navbar">
        <a class="btn btn-primary home" href="http://localhost:8080/" role="button">Home</a>
        <form action='/search' method='GET'>
            <input placeholder="Search movies"name='searchTerm' />
            <button type='submit'>Search</button>
          </form>
        </div>
        <div class="container-fluid">
            <%if(movies.status_code===34) {%>
                <p class="noResults">I'm Sorry Dave, I'm afraid I can't do that</p>
                <audio autoplay><source src="http://www.rosswalker.co.uk/movie_sounds/sounds_files_20150201_1096714/2001_and_2010/cantdo.wav"></audio>
                </div>
                <%}
                else{%>
        <div class=row>
            <div class="col-xs-12, col-sm-6, col-md-4, col-lg-4">
                    <% if(movies.poster_path===null){%>
                        <div class="noImage_movies"><P>No Image Available</P></div> 
           <%}
            else{%>
                <img class="mar noImgMar" src= <%= 'https://image.tmdb.org/t/p/w220_and_h330_bestv2' + movies.poster_path%> />
                <%}%>
            </div>
            <div id="details"class="col-xs-12, col-sm-6, col-md-8, col-lg-8">
                <p class="mar">Vote count:
                    <%=movies.vote_count%>
                </p>
                <p>id:
                    <%=movies.id%>
                </p>
                <p>Video:
                    <%=movies.video%>
                </p>
                <p>Vote average:
                    <%=movies.vote_average%>
                </p>
                <p>Title:
                    <%=movies.title%>
                </p>
                <p>Popularity:
                    <%=movies.popularity%>
                </p>
                <p>Original language:
                    <%=movies.original_language%>
                </p>
                <p>Original title:
                    <%=movies.original_title%>
                </p>
                <p>Overview:
                    <%=movies.overview%>
                </p>
                <p>Release date:
                    <%=movies.release_date%>
                </p>
            </div>
        </div> <%}%>
    </div>
</body>
</html